
@media screen and (max-width: 719px) {
    .wrap-form {
        width: 100%;
        text-align: center;
        border-radius: 0;
    }

    .wrap-form-body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .social-description {
        display: none;
    }

    .wrap-form-body .ml-network {
        width: 100%;
        max-width: 280px;
    }

    .wrap-form-body .ml-network .using-ml-account-text {
        display: none;
    }
}

@media (min-width: 600px) {
    .v-application .d-sm-flex {
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
    }  

    .v-application .d-sm-none {
        display: none!important;
    }
}
