* {
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    font-size: 16px;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#app-wrap {
    background-color: transparent!important;
}
.theme--light.v-application {
    background: #fff;
    color: rgba(0,0,0,.87);
}
.v-application {
    font-family: Roboto,sans-serif;
    line-height: 1.5;
}
.theme--light.v-application {
    background: #fff;
    color: rgba(0,0,0,.87);
}

.v-application--wrap {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    position: relative;
}

.v-application .d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.v-application .justify-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.v-application .d-none {
    display: none!important;
}

#app-wrap .logo-desktop {
    margin-bottom: 34px;
    margin-top: 54px;
}


#app-wrap .logo-mobile {
    margin: 22px;
}
svg:not(:root) {
    overflow: hidden;
}

.wrap-form {
    background-color: #fff;
    border-radius: 20px;
    width: 670px;
    padding: 34px 40px 40px;
}

.wrap-form .form-title-text {
    padding: 0;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 34px;
}

.wrap-form-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    margin-top: 34px;
}

.social-description {
    color: #707070;
    margin-bottom: 18px;
}

.v-application .flex-column {
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}

button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

button, input, optgroup, select, textarea {
    font: inherit;
}

button {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, input, select, textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

[role=button], [type=button], [type=reset], [type=submit], button {
    cursor: pointer;
}

.v-btn {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-weight: 500;
    letter-spacing: .0892857143em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    outline: 0;
    position: relative;
    text-decoration: none;
    text-indent: .0892857143em;
    text-transform: uppercase;
    -webkit-transition-duration: .28s;
    transition-duration: .28s;
    -webkit-transition-property: opacity,-webkit-box-shadow,-webkit-transform;
    transition-property: opacity,-webkit-box-shadow,-webkit-transform;
    transition-property: box-shadow,transform,opacity;
    transition-property: box-shadow,transform,opacity,-webkit-box-shadow,-webkit-transform;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.v-btn--depressed {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

.v-btn {
    letter-spacing: unset!important;
    font-weight: 500!important;
}

.v-btn {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-weight: 500;
    letter-spacing: .0892857143em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    outline: 0;
    position: relative;
    text-decoration: none;
    text-indent: .0892857143em;
    text-transform: uppercase;
    -webkit-transition-duration: .28s;
    transition-duration: .28s;
    -webkit-transition-property: opacity,-webkit-box-shadow,-webkit-transform;
    transition-property: opacity,-webkit-box-shadow,-webkit-transform;
    transition-property: box-shadow,transform,opacity;
    transition-property: box-shadow,transform,opacity,-webkit-box-shadow,-webkit-transform;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.v-btn--depressed {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

.v-btn.v-size--default, .v-btn.v-size--large {
    font-size: .875rem;
}

.v-btn:not(.v-btn--disabled) {
    will-change: box-shadow;
}

.wrap-form-body .social-item {
    border-radius: 10px!important;
    border: 2px solid!important;
    width: 100%!important;
    height: 100%!important;
    padding: 8px 16px!important;
    letter-spacing: normal!important;
    -webkit-box-pack: start!important;
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
    text-transform: unset!important;
    background-color: #fff!important;
    margin-bottom: 12px!important;
}

.v-btn.v-size--default, .v-btn.v-size--large {
    font-size: .875rem;
}


.google {
    color: #fa5d5d!important;
}

.v-btn:not(.v-btn--round).v-size--default {
    height: 36px;
    min-width: 64px;
    padding: 0 16px;
}

.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: #f5f5f5;
}

::selection {
    /* background-color: #b3d4fc; */
    color: #000;
    text-shadow: none;
}

:after, :before {
    text-decoration: inherit;
    vertical-align: inherit;
}

.v-btn__content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    line-height: normal;
    position: relative;
}

.wrap-form-body .social-item-name {
    line-height: 19px;
    font-size: 16px;
    margin-left: 14px!important;
}

.facebook {
    color: #1877f2!important;
}

.v-dialog__container {
    display: none;
}

.wrap-form-body .ml-hr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    max-width: 280px;
}

.wrap-form-body .ml-hr .half {
    width: 100%;
    border: .5px solid #b1b1b1;
}

.wrap-form-body .ml-hr .sub-hr {
    display: inline-block;
    position: relative;
    margin: 0 7px;
    color: #848586;
}

.wrap-form-body .ml-hr .half {
    width: 100%;
    border: .5px solid #b1b1b1;
}

.wrap-form-body .ml-network {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.wrap-form-body .ml-network .using-ml-account-text {
    color: #707070;
    margin-bottom: 18px!important;
    margin-left: 16px!important;
}

.wrap-form-body .ml-network .form-ml {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 16px;
}

.v-text-field {
    margin-top: 0!important;
    padding: 0!important;
}

.v-input {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 16px;
    letter-spacing: normal;
    max-width: 100%;
    text-align: left;
}

.v-application .mb-6 {
    margin-bottom: 24px!important;
}

.theme--light.v-input, .theme--light.v-input input, .theme--light.v-input textarea {
    color: rgba(0,0,0,.87);
}

.theme--light.v-input, .theme--light.v-input input, .theme--light.v-input textarea {
    color: rgba(0,0,0,.87);
}

.v-input__control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-width: 0;
    width: 100%;
}

.v-text-field .v-input__control, .v-text-field .v-input__slot, .v-text-field fieldset {
    border-radius: inherit;
}

.v-text-field.v-input--has-state .v-input__control>.v-text-field__details>.v-counter, .v-text-field.v-input--is-disabled .v-input__control>.v-text-field__details>.v-counter, .v-text-field.v-input--is-disabled .v-input__control>.v-text-field__details>.v-messages, .v-text-field .v-input__control, .v-text-field fieldset {
    color: inherit;
}

.v-text-field .v-input__control, .v-text-field .v-input__slot, .v-text-field fieldset {
    border-radius: inherit;
}

.v-text-field.v-input--has-state .v-input__control>.v-text-field__details>.v-counter, .v-text-field.v-input--is-disabled .v-input__control>.v-text-field__details>.v-counter, .v-text-field.v-input--is-disabled .v-input__control>.v-text-field__details>.v-messages, .v-text-field .v-input__control, .v-text-field fieldset {
    color: inherit;
}
.v-input__slot {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 8px;
    min-height: inherit;
    position: relative;
    -webkit-transition: .3s cubic-bezier(.25,.8,.5,1);
    transition: .3s cubic-bezier(.25,.8,.5,1);
    width: 100%;
}

.v-text-field .v-input__control, .v-text-field .v-input__slot, .v-text-field fieldset {
    border-radius: inherit;
}

.v-text-field>.v-input__control>.v-input__slot {
    cursor: text;
    -webkit-transition: background .3s cubic-bezier(.25,.8,.5,1);
    transition: background .3s cubic-bezier(.25,.8,.5,1);
}

.v-input--hide-details>.v-input__control>.v-input__slot {
    margin-bottom: 0;
}

.v-text-field>.v-input__control>.v-input__slot>.v-text-field__slot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
}

.v-text-field input {
    padding: 24px 38px 24px 12px!important;
    background-color: #f5f5f5;
    border: 2px solid #f5f5f5;
    height: 52px;
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}


.v-text-field input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    line-height: 20px;
    padding: 8px 0;
    max-width: 100%;
    min-width: 0;
    width: 100%;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.v-input input {
    max-height: 32px;
}

.v-text-field .v-input__append-inner, .v-text-field .v-input__prepend-inner {
    -ms-flex-item-align: start;
    align-self: flex-start;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 4px;
    line-height: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.v-text-field .v-input__append-inner, .v-text-field .v-input__prepend-inner {
    padding-top: 12px;
    position: absolute;
    right: 8px;
    color: unset!important;
    background-color: unset!important;
    caret-color: unset!important;
}
.v-text-field .v-input__append-inner, .v-text-field .v-input__prepend-inner {
    -ms-flex-item-align: start;
    align-self: flex-start;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 4px;
    line-height: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.v-application--is-ltr .v-text-field .v-input__append-inner, .v-application--is-rtl .v-text-field .v-input__prepend-inner {
    margin-left: auto;
    padding-left: 4px;
}

.lock-icon {
    cursor: pointer;
}

.forgot-password {
    text-align: right;
    margin-bottom: 16px;
}

.forgot-password-text {
    color: #00bc2a;
}

.wrap-form-body .ml-network .suggestion {
    color: #000;
    margin-right: 9px;
    text-align: center;
}

.wrap-form-body .ml-network .suggestion-action {
    color: #00bc2a;
    text-decoration: underline;
    font-weight: 400;
    cursor: pointer;
}

.snackbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: 0 0!important;
    border: none;
}

.loading-container {
    overflow-y: scroll;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 203;
    background: hsla(0,0%,100%,.5);
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
}

.lds-ring div {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    border: 4px solid #2db84c;
    border-radius: 50%;
    -webkit-animation: lds-ring-data-v-3b9efe7d 1.2s cubic-bezier(.5,0,.5,1) infinite;
    animation: lds-ring-data-v-3b9efe7d 1.2s cubic-bezier(.5,0,.5,1) infinite;
    border-color: #2db84c transparent transparent transparent;
}

.lds-ring div:first-child {
    -webkit-animation-delay: -.45s;
    animation-delay: -.45s;
}